.contact h2 {
  font-size: 40px;
  color: var(--title);
  text-align: center;
  margin-bottom: 10px;
}
.contact form {
  width: 50%;
}

.contact-button {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
textarea:hover,
textarea:active,
textarea:focus {
  border-color: var(--border-color);
}
