.header-toggle {
  font-size: 1.25rem;
  cursor: pointer;
}
.barContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.barContainer span {
  font-size: 1.5rem;
  font-weight: bold;
  font-weight: 500;
  color: var(--title);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin-right: 1.5em;
}
.navbar-avatar {
  background-color: var(--button-color);
  padding: 0.8em;
}
.firstName {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  color: #374858;
}
.admin {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.69rem;
  color: #808080;
}
