.header-toggle {
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--main-color);
}
.barContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.barContainer span {
  font-size: 1.5rem;
  color: #374858;
  font-weight: bold;
  font-weight: 500;
}
