.hospital-error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60%;
}
.hospital-error-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: 2em;
}

/* Not Found */
.not-found-image {
  width: 40%;
  justify-content: center;
  align-items: center;
}
.not-found-text {
  text-align: center;
  margin-bottom: 0.5em;
  padding: 2em;
}
